.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #9796f0, #fbc7d4);
  min-height: 100vh;
}

.responsive-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 85%;
  border-radius: 12px;
  max-width: 550px;
}

.appointments-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 86%;
  max-width: 972px;
}

.add-appointment-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 64px;
}

.add-appointment-heading {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  color: #7e858e;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 8px;
}

.input {
  color: #131415;
  font-family: 'Roboto';
  font-size: 12px;
  border: 1px solid #7e858e;
  border-radius: 4px;
  height: 40px;
  padding: 8px 16px;
  margin-bottom: 24px;
  outline: none;
}

.add-button {
  align-self: flex-start;
  background-color: #8b5cf6;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  outline: none;
}

.appointments-image {
  display: none;
}

.hr {
  border: 1px solid #b5b7c4;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 32px;
}

.header-with-filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.appointments-heading {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.filter-style {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 600;
  border-radius: 25px;
  padding: 4px 16px;
  border: none;
  outline: none;
}

.filter-filled {
  color: #ffffff;
  background-color: #9897f0;
}

.filter-empty {
  color: #9897f0;
  background-color: white;
  border: 1px solid #9897f0;
}

.appointments-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px;
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .responsive-container {
    width: 78%;
    max-width: 1120px;
  }

  .add-appointment-heading {
    font-size: 32px;
    margin-bottom: 48px;
  }

  .form {
    width: 45%;
    max-width: 320px;
  }

  .input {
    font-size: 14px;
  }

  .appointments-image {
    display: block;
    width: 49%;
  }

  .header-with-filter-container {
    padding-left: 12px;
    padding-right: 12px;
  }

  .appointments-heading {
    font-size: 24px;
  }

  .appointments-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
